[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/actuator/health"
healthcheckTimeout = 300
startCommand = "java -Dspring.profiles.active=production -jar build/libs/aiinsight-0.0.1-SNAPSHOT.jar"
