[build]
builder = "NIXPACKS"

[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[build.buildCommand]]
command = "./gradlew clean build -x test"

[deploy.startCommand]
command = "java -Dserver.port=$PORT -Dspring.profiles.active=railway -jar build/libs/aiinsight-0.0.1-SNAPSHOT.jar"

[deploy.healthcheckPath]
path = "/actuator/health"
timeout = 100

[deploy.healthcheckInterval]
interval = 10
